#*HTTP接口列表预览*#
<script id="httpInterfaceTemplate" type="text/x-handlebars-template">
    {{# if this}}
    {{#each this}}
    <tr>
        <td class='text-center' style="word-wrap: break-word">{{name}}</td>
        <td class='text-center'>{{protocol}}</td>
        <td class='text-center' style="word-wrap: break-word">{{method}}</td>
        <td class='text-center' style="word-wrap: break-word">{{address}}</td>
        <td class='text-center'>
            <span class="glyphicon glyphicon-edit btn-success-glyphicon" title="编辑" data-interfaceid='{{id}}'
                  data-toggle='modal'
                  data-target='#myHttpModal'></span>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-trash btn-danger-glyphicon" title="删除" data-interfaceid='{{id}}'
                  data-toggle='modal'
                  data-target='#deleteInterfaceModal'></span>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-fire btn-warning-glyphicon" title="预览" data-interfaceid='{{id}}'
                  data-toggle='modal'
                  data-target='#myHttpPreviewModal'></span>
        </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
        <td colspan='5' class='text-center'>暂无信息！</td>
    </tr>
    {{/if}}
</script>