<div style="height: 55px;">

</div>
<div class="col-md-12">
    <div style="margin: 20px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">项目概览</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    #foreach($appDO in $!appDOListOpen)
                        <div class="col-sm-3">
                            <div class="thumbnail text-center">
                                #if($!{appDO.hasAuth})
                                    <h5><a href="${ctxPath}/admin/main.htm?appId=$!{appDO.appId}"> $!{appDO.appName}</a>
                                    </h5>
                                #else
                                    <h5>$!{appDO.appName}
                                    </h5>
                                #end
                                分类数：<span class="badge">$!{appDO.categoryCount}</span>，接口数：<span
                                    class="badge">$!{appDO.interfaceCount}</span>
                                <br/>
                                <br/>
                                <a href="${ctxPath}/admin/pdf.htm?appId=$!{appDO.appId}&uId=$!{uId}" target="_blank"
                                   class="btn btn-info btn-xs">在线预览</a>
                                <a href="${ctxPath}/rest/download/exportApi.pdf?appId=$!{appDO.appId}" target="_blank"
                                   class="btn btn-success btn-xs">导出PDF</a>
                                <br/>
                                <br/>
                            </div>
                        </div>
                    #end
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    访问量统计折线图
                </h3>
            </div>
            <div class="panel-body">
                <div id="accessCountPicturePanel" style="width: 100%;height:500px;margin:25px auto;">

                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">项目公告</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            Mock服务正常示例请求地址规则：$!{normal_url}<span class="bg-success"><b>appId</b></span><span
                                class="bg-danger">/接口地址</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            Mock服务异常示例请求地址规则：$!{exception_url}<span class="bg-success"><b>appId</b></span><span
                                class="bg-danger">/接口地址</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        应用接口文档信息列表查询接口请求地址规则：$!{interface_url}<span class="bg-success"><b>appId</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h5 style="color: red">注意：</h5>
                        <p>1、$!{normal_url}和$!{exception_url}为mock服务器固定部分，请在<b>接口管理</b>
                            每个应用当中的<b>域名地址管理</b>mock服务访问地址输入框中维护起来！</p>
                        <p>
                            2、appId是本系统自己维护的，目的是为了区分不同应用拥有相同接口地址的情况!
                        </p>
                        <p>
                            3、应用<b>域名地址管理</b>中所有域名地址必须以正斜杠“/”结尾，而接口地址不要以正斜杠“/”开头!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        function opTionBuilder(title, labelArray, valueLabelArray) {
            var option = {
                title: {
                    text: ""
                },
                tooltip: {},
                legend: {
                    data: [title]
                },
                xAxis: {
                    data: labelArray,
                    axisLabel: {
                        interval: 0,
                        rotate: 40
                    }
                },
                yAxis: {},
                series: [{
                    name: title,
                    type: 'line',
                    itemStyle: {
                        normal: {
                            color: function (params) {
                                var colorList = ['#337ab7', '#5bc0de', '#f0ad4e', '#5cb85c', '#d9534f'];
                                return colorList[params.dataIndex];
                            },
                            label: {
                                show: true,//是否展示
                                textStyle: {
                                    fontWeight:'bolder',
                                    fontSize : '12',
                                    fontFamily : '微软雅黑',
                                    color:"#00f"
                                }
                            }
                        }
                    },
                    data: valueLabelArray
                }]
            };
            return option;
        }

        //操作人统计图表
        (function () {
            var accessCountPicturePanel = echarts.init(document.getElementById("accessCountPicturePanel"));
            $.post("${ctxPath}/rest/logger/accessCountMap", null, function (result) {
                if (result.success) {
                    var data = result.data;
                    var labelArray = [];
                    var valueLabelArray = [];
                    for (var key in data) {
                        labelArray.push(key);
                        valueLabelArray.push({value: data[key], name: key});
                    }

                    accessCountPicturePanel.setOption(opTionBuilder('访问量', labelArray, valueLabelArray));
                }
            }, "json");
        })();
    });
</script>