<div style="height: 55px;">

</div>
<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">日志管理</li>
        <li class="active">操作记录</li>
        <div style="display:inline;float:right"><a href="${ctxPath}/admin/empty.htm"><span
                class="glyphicon glyphicon-home" style="color: rgb(212, 106, 64);"></span></a></div>
    </ol>
</div>
<div class="col-md-12">
    <div class="container">
        <form id="operationLoggerForm" role="form">
            <div class="form-inline">
                <label class="control-label" for="appIdInput">所在应用：</label>
                <select id="appIdInput" class="form-control" name="appIdInput">
                    <option value="">全部应用</option>
                    #foreach($app in $!allAppList)
                        <option value="$app.appId">$app.appName</option>
                    #end
                </select>
                <label class="control-label" for="loggerContentInput">
                    操作内容：
                </label>
                <input type="text" class="form-control" name="loggerContentInput" id="loggerContentInput"/>
                <input type="button" class="btn btn-success" value="搜索" />
            </div>
        </form>
    </div>
    <div style="margin:20px">
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                操作记录详情
            </h3>
        </div>
        <div class="panel-body">
            <pre id="loggerPre" class="layui-code">

            </pre>
        </div>
    </div>
</div>
<script>
    $(function () {
        $.jgrid.defaults.width = $("#jqGrid").parent().width();
        $("#jqGrid").jqGrid({
            url: '${ctxPath}/rest/logger/loggerPager',
            mtype: "POST",
            styleUI: 'Bootstrap',
            datatype: "jsonp",
            colModel: [
                {
                    label: '应用ID', name: 'appId', sortable: false
                }
                ,
                {
                    label: '应用名称', name: 'appName', sortable: false
                }
                ,
                {
                    label: '操作类型', name: 'operationType', sortable: false
                }
                ,
                {
                    label: '操作类别', name: 'operationCategory', sortable: false
                }
                ,
                {
                    label: '操作时间', name: 'operationTime', sortable: false
                }
                ,
                {
                    label: '操作人', name: 'operator', sortable: false
                },
                {
                    label: '操作',
                    name: 'uuid',
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return "<button type='button' data-uuid='" + cellvalue + "' class='btn btn-info btn-xs btn-detail' >详情</button>";
                        ;
                    }
                }
            ],
            viewrecords: true,
            height: "auto",
            rowNum: 10,
            rownumbers: true,
            autowidth: true,
            shrinkToFit: true,
            pager: "#jqGridPager"
        });

        $("#jqGrid").closest(".ui-jqgrid-bdiv").css({'overflow-x': 'hidden'});

        $(window).resize(function () {          //当浏览器大小变化时
            $("#jqGrid").setGridWidth($("ol.breadcrumb").width());
        });

        $("#jqGrid").delegate(".btn-detail", "click", function () {
            var loggerId = $(this).attr("data-uuid");
            $.post("${ctxPath}/rest/logger/findOneLogger", {"loggerId": loggerId}, function (data) {
                if (data.success) {
                    $("#loggerPre").html(data.data.operationContent);
                    layui.use('code', function () {

                        layui.code(); //实际使用时，执行该方法即可。而此处注释是因为修饰器在别的js中已经执行过了
                    });
                }
            }, "json");
        });

        layui.use('code', function () {

            layui.code(); //实际使用时，执行该方法即可。而此处注释是因为修饰器在别的js中已经执行过了
        });
    });
</script>