<div style="height: 55px;">

</div>
<!-- 域名地址管理模态框（Modal） -->
#parse("admin/screen/components/domainManagerModal.vm")

<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">接口管理</li>
        <li class="active">$!{appDO.appName}</li>
        <div style="display:inline;float:right"><a href="${ctxPath}/admin/empty.htm"><span
                class="glyphicon glyphicon-home" style="color: rgb(212, 106, 64);"></span></a></div>
    </ol>
</div>
<div class="col-md-3">
    <ul id="interfaceCategoryUList" class="nav nav-pills nav-stacked">
        <li class="active"><a href="javascript:void(0);">全部分类</a></li>
        #foreach($interfaceCategoryEntity in $!interfaceCategoryEntities)
            <li data-id="$interfaceCategoryEntity.interfaceCategoryId"
                data-describe="$interfaceCategoryEntity.interfaceCategoryDescribe"
                data-name="$interfaceCategoryEntity.interfaceCategoryName"
                title="$interfaceCategoryEntity.interfaceCategoryDescribe"
                style="word-wrap: break-word;"
            ><a href="javascript:void(0);">
                $interfaceCategoryEntity.interfaceCategoryName
                <div style="display:inline;float:right">
                    <span class="glyphicon glyphicon-edit" title="编辑"></span>
                    <span class="glyphicon glyphicon-trash" title="删除"></span>
                </div>
                <span class="badge">$!interfaceCategoryEntity.interfaceCount</span></a>
                </a>
            </li>
        #end
    </ul>
    <br/>
    <form id="interfaceCategoryForm" name="interfaceCategoryForm">
        <input type="hidden" id="interfaceAppIdInput" name="interfaceAppIdInput" value="$!{appDO.appId}"/>
        <div class="form-group">
            <input type="text" class="form-control" id="interfaceCategoryNameInput"
                   name="interfaceCategoryNameInput" placeholder="分类名称"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="interfaceCategoryDescribeInput"
                   name="interfaceCategoryDescribeInput" placeholder="分类描述"/>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <input type="button" id="addInterfaceCategoryBtn" class="btn btn-default"
                           data-toggle="modal"
                           data-target="#addInterfaceCategoryModal"
                           value="添加分类"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="col-md-9">
    <br/>
    <div class="text-left form-inline">
        <button type="button" id="addHttpInterfaceBtn" class="btn btn-info" data-toggle="modal"
                data-target="#myHttpModal">新增HTTP接口
        </button>
        <button type="button" id="addHttpDomainBtn" class="btn btn-default" data-toggle="modal"
                data-target="#myHttpDomainModal">
            域名地址管理
        </button>
        <input type="text" class="form-control" style="width: 450px;" id="httpSearchContentInput"
               placeholder="接口名称/接口地址">
        <input type="button" class="btn btn-primary" id="httpSearchBtn" value="搜索">
    </div>
    <br/>
    <table class="table table-bordered table-hover table-condensed" style="table-layout: fixed">
        <thead class="bg-primary">
        <tr>
            <th class="text-center">接口名称</th>
            <th class="text-center" width="12%">请求协议</th>
            <th class="text-center" width="12%">请求方法</th>
            <th class="text-center">接口地址</th>
            <th class="text-center" width="15%">操作</th>
        </tr>
        </thead>
        <tbody id="httpTableTBody">
        <tr>
            <td colspan="6" class="text-center">
                暂无信息！
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <div class="text-left">
        <button type="button" id="addRpcInterfaceBtn" class="btn btn-info" data-toggle="modal"
                data-target="#myRpcModal">新增 RPC 接口
        </button>
    </div>
    <br/>
    <table class="table table-bordered table-hover table-condensed" style="table-layout: fixed">
        <thead>
        <tr class="bg-primary">
            <th class="text-center">接口名称</th>
            <th class="text-center" width="24%">接口类名</th>
            <th class="text-center">方法名称</th>
            <th class="text-center" style="width: 15%">操作</th>
        </tr>
        </thead>
        <tbody id="rpcTableTBody">
        <tr>
            <td colspan="5" class="text-center">
                暂无信息！
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- HTTP接口新增模态框（Modal） -->
<!--HTTP接口参数详情添加一行参数-->
<!--HTTP接口响应参数详情添加一行参数-->
<!--HTTP接口头部参数详情添加一行参数-->
<!--HTTP接口请求参数编辑模板-->
<!--HTTP接口响应参数编辑模板-->
<!--HTTP接口头部参数编辑模板-->
#parse("admin/screen/components/httpInterfaceAddOrEditModal.vm")


<!-- RPC接口新增模态框（Modal） -->
<!--RPC接口参数详情添加一行参数-->
<!--RPC接口响应参数详情添加一行参数-->
<!--RPC接口请求参数编辑模板-->
<!--RPC接口响应参数编辑模板-->
#parse("admin/screen/components/rpcInterfaceAddOrEditModal.vm")

<!--HTTP接口列表-->
#parse("admin/screen/components/httpInterfaceListPreview.vm")

<!--RPC接口列表-->
#parse("admin/screen/components/rpcInterfaceListPreview.vm")

<!-- HTTP接口预览模态框（Modal） -->
<!--HTTP接口预览模态框模板-->
#parse("admin/screen/components/httpInterfacePreviewModal.vm")

<!-- RPC接口预览模态框（Modal） -->
<!--RPC接口预览模态框模板-->
#parse("admin/screen/components/rpcInterfacePreviewModal.vm")


<script type="text/javascript">
    $(function () {

        //新增HTTP接口
        $("#addHttpInterfaceBtn").click(function () {
            $("#myHttpModalLabel").html("新增HTTP接口");
            $("#myHttpModal").find("tbody").empty();
            $("#interfaceHttpIdInput").val("");
            document.getElementById('newInterfaceHttpForm').reset();
            $("#myHttpModal").find("select[name='categoryInput']").val($("#interfaceCategoryUList").find("li.active").attr("data-id"));
        });

        //新增RPC接口
        $("#addRpcInterfaceBtn").click(function () {
            $("#myRpcModalLabel").html("新增RPC接口");
            $("#myRpcModal").find("tbody").empty();
            $("#interfaceRpcIdInput").val("");
            document.getElementById('newInterfaceRpcForm').reset();
            $("#myRpcModal").find("select[name='categoryInput']").val($("#interfaceCategoryUList").find("li.active").attr("data-id"));
        });

        //新增HTTP接口
        $("#newInterfaceHttpBtn").click(function () {
            if ($("#interfaceHttpIdInput").val() == null || $("#interfaceHttpIdInput").val() == "") {
                $.post("${ctxPath}/rest/interfaceHttp/insertInterfaceHttp", $("#newInterfaceHttpForm").serialize(), function (data) {
                    console.log(data);
                    if (data.success) {
                        $("#myHttpModal").modal("hide");
//                        window.location.reload();
                        $("#interfaceCategoryUList").find("li.active").trigger("click");
                    }
                }, "json");
            } else {
                $.post("${ctxPath}/rest/interfaceHttp/updateInterfaceHttp", $("#newInterfaceHttpForm").serialize(), function (data) {
                    console.log(data);
                    if (data.success) {
                        $("#myHttpModal").modal("hide");
//                        window.location.reload();
                        $("#interfaceCategoryUList").find("li.active").trigger("click");
                    }
                }, "json");
            }
        });

        //新增RPC接口
        $("#newInterfaceRpcBtn").click(function () {
            if ($("#interfaceRpcIdInput").val() == null || $("#interfaceRpcIdInput").val() == "") {
                $.post("${ctxPath}/rest/interfaceRpc/insertInterfaceRpc", $("#newInterfaceRpcForm").serialize(), function (data) {
                    console.log(data);
                    if (data.success) {
                        $("#myRpcModal").modal("hide");
//                        window.location.reload();
                        $("#interfaceCategoryUList").find("li.active").trigger("click");
                    }
                }, "json");
            } else {
                $.post("${ctxPath}/rest/interfaceRpc/updateInterfaceRpc", $("#newInterfaceRpcForm").serialize(), function (data) {
                    console.log(data);
                    if (data.success) {
                        $("#myRpcModal").modal("hide");
//                        window.location.reload();
                        $("#interfaceCategoryUList").find("li.active").trigger("click");
                    }
                }, "json");
            }
        });

        //HTTP接口删除确定事件事件 | RPC接口删除确定事件事件
        $("#deleteInterfaceModal").delegate("button.btn-primary", "click", function () {
            var interfaceId = $(this).attr("data-interfaceid");
            var interfaceType = $(this).attr("data-interfacetype");
            if (interfaceType == "HTTP") {
                $.post("${ctxPath}/rest/interfaceHttp/deleteInterfaceHttp", {"interfaceId": interfaceId}, function (data) {
                    console.log(data);
                    if (data.success) {
                        $("#deleteInterfaceModal").modal("hide");
//                        window.location.reload();
                        $("#interfaceCategoryUList").find("li.active").trigger("click");
                    }
                }, "json");
            } else {
                $.post("${ctxPath}/rest/interfaceRpc/deleteInterfaceRpc", {"interfaceId": interfaceId}, function (data) {
                    console.log(data);
                    if (data.success) {
                        $("#deleteInterfaceModal").modal("hide");
//                        window.location.reload();
                        $("#interfaceCategoryUList").find("li.active").trigger("click");
                    }
                }, "json");
            }

        });

        //HTTP接口搜索
        $("#httpSearchBtn").click(function () {
            var data = JSON.parse(window.localStorage.getItem("httpData"));
            var httpSearchContent = $("#httpSearchContentInput").val().trim();
            if (data != null & httpSearchContent != "") {
                var tempData = [];
                for (var i = 0; i < data.length; i++) {
                    console.log(data[i].name)
                    if (data[i].name.indexOf(httpSearchContent) > -1 || data[i].address.indexOf(httpSearchContent) > -1) {
                        tempData.push(data[i]);
                    }
                }

                $("#httpTableTBody").handlebars($("#httpInterfaceTemplate"), tempData);
            } else {
                $("#httpTableTBody").handlebars($("#httpInterfaceTemplate"), data);
            }
            //console.log(data);
        });

    });
</script>
<!-- 删除接口模态框（Modal） -->
<div class="modal fade" id="deleteInterfaceModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteInterfaceModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="deleteInterfaceModalLabel">
                    删除提示
                </h4>
            </div>
            <div class="modal-body">
                确定删除该条接口信息吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 新增接口分类模态框（Modal） -->
<!-- 删除接口分类模态框（Modal） -->
<!-- 编辑接口分类模态框（Modal） -->
#parse("admin/screen/components/interfaceCategoryOperation.vm")