<div class="col-md-12" id="interfaceViewPanel">
</div>
#*HTTP接口描述文档模板*#
<script id="interfaceHttpViewTemplate" type="text/x-handlebars-template">
    {{# if this}}
    {{# each this}}
    <div id="httpNav{{addOne @index}}"></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div id="page_title" class="col-sm-12">
            <h3 style="display:inline;word-wrap: break-word">{{name}}</h3>
        </div>
    </div>
    <div id="httpContentPanel">
        <div class="row" style="margin-top: 5px;">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>接口地址</caption>
                    <tbody>
                    <tr>
                        <td>
                            <span style="word-wrap: break-word">{{address}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>接口描述</caption>
                    <tbody>
                    <tr>
                        <td>
                            <span style="word-wrap: break-word">{{description}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>数据格式</caption>
                    <tbody>
                    <tr>
                        <td>
                            <span>{{transformat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>请求方式</caption>
                    <tbody>
                    <tr>
                        <td>
                            <span>{{protocol}} + {{method}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed;">
                    <caption>在线访问地址</caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th width="20%">应用环境</th>
                        <th>URL地址</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="20%" class="text-right">mock服务调试地址</td>
                        <td width="80%" style="word-wrap: break-word">{{mockAddress}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right">开发环境访问地址</td>
                        <td width="80%" style="word-wrap: break-word">{{devAddress}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right">测试环境访问地址</td>
                        <td width="80%" style="word-wrap: break-word">{{sitAddress}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right">UAT环境访问地址</td>
                        <td width="80%" style="word-wrap: break-word">{{uatAddress}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right">线上环境访问地址</td>
                        <td width="80%" style="word-wrap: break-word">{{prdAddress}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>请求头部</caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>示例</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamHeaderEntities}}
                    {{#interfaceParamHeaderEntities}}
                    <tr>
                        <td title="{{paramNameHeader}}" style="word-wrap: break-word">
                            {{paramNameHeader}}
                        </td>
                        <td title="{{paramTypeHeader}}" style="word-wrap: break-word">
                            {{paramTypeHeader}}
                        </td>
                        <td title="{{paramDescribeHeader}}" style="word-wrap: break-word">
                            {{paramDescribeHeader}}
                        </td>
                        <td title="{{exampleHeader}}" style="word-wrap: break-word">
                            {{exampleHeader}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramTypeHeader
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeHeader
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeHeader
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramTypeResponse
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramTypeHeader
                    'json'}} style="display:table-row" {{else}} {{#compareParamType paramTypeHeader
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="5">
                        <pre>{{exampleDetailHeader}}</pre>
                        <br/>
                        <pre>{{defaultValueDetailHeader}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamHeaderEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='5'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>请求参数</caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>是否必填</th>
                        <th style="width: 20%">JSON格式化传输</th>
                        <th>示例</th>
                        <th>默认值</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamEntities}}
                    {{#interfaceParamEntities}}
                    <tr>
                        <td title="{{paramName}}" style="word-wrap: break-word">
                            {{paramName}}
                        </td>
                        <td title="{{paramType}}" style="word-wrap: break-word">
                            {{paramType}}
                        </td>
                        <td title="{{paramDescribe}}" style="word-wrap: break-word">
                            {{paramDescribe}}
                        </td>
                        <td title="{{required}}" style="word-wrap: break-word">
                            {{required}}
                        </td>
                        <td title="{{jsontransformat}}"
                            style="word-wrap: break-word">{{jsontransformat}}
                        </td>
                        <td title="{{example}}" style="word-wrap: break-word">
                            {{example}}
                        </td>
                        <td title="{{defaultValue}}" style="word-wrap: break-word">
                            {{defaultValue}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramType
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramType
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramType
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramType
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramType
                    'json'}} style="display:table-row" {{else}} {{#compareParamType paramType
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="8">
                        <pre>{{exampleDetail}}</pre>
                        <br/>
                        <pre>{{defaultValueDetail}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='8'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>响应参数</caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>示例</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamResponseEntities}}
                    {{#interfaceParamResponseEntities}}
                    <tr>
                        <td title="{{paramNameResponse}}" style="word-wrap: break-word">
                            {{paramNameResponse}}
                        </td>
                        <td title="{{paramTypeResponse}}" style="word-wrap: break-word">
                            {{paramTypeResponse}}
                        </td>
                        <td title="{{paramDescribeResponse}}" style="word-wrap: break-word">
                            {{paramDescribeResponse}}
                        </td>
                        <td title="{{exampleResponse}}" style="word-wrap: break-word">
                            {{exampleResponse}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramTypeResponse
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeResponse
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeResponse
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramTypeResponse
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramTypeResponse
                    'json'}} style="display:table-row" {{else}} {{#compareParamType paramTypeResponse
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="5">
                        <pre>{{exampleDetailResponse}}</pre>
                        <br/>
                        <pre>{{defaultValueDetailResponse}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamResponseEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='5'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption>返回示例及注意事项</caption>
                    <tbody>
                    <tr>
                        <td style="border-top: none;">
                            {{# if interfaceResultEntities}}
                            {{#interfaceResultEntities}}
                            {{#compareExampleType exampleType "NORMAL" }}
                            <pre>{{# if exampleContent}}{{exampleContent}}{{else}}暂无返回示例！{{/if}}</pre>
                            <pre>{{# if attentionMatters}}{{attentionMatters}}{{else}}暂无注意事项！{{/if}}</pre>
                            {{/compareExampleType}}
                            {{/interfaceResultEntities}}
                            {{/if}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption>异常示例及注意事项</caption>
                    <tbody>
                    <tr>
                        <td style="border-top: none">
                            {{# if interfaceResultEntities}}
                            {{#interfaceResultEntities}}
                            {{#compareExampleType exampleType "EXCEPTION" }}
                            <pre>{{# if exampleContent}}{{exampleContent}}{{else}}暂无返回示例！{{/if}}</pre>
                            <pre>{{# if attentionMatters}}{{attentionMatters}}{{else}}暂无注意事项！{{/if}}</pre>
                            {{/compareExampleType}}
                            {{/interfaceResultEntities}}
                            {{/if}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    {{/each}}
    {{else}}
    <h3 class="text-center">暂无HTTP相关接口列表信息！</h3>
    {{/if}}
</script>
#*RPC接口描述文档模板*#
<script id="interfaceRpcViewTemplate" type="text/x-handlebars-template">
    {{# if this}}
    {{# each this}}
    <div id="rpcNav{{addOne @index}}"></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div id="page_title" class="col-sm-12">
            <h3 style="display:inline;word-wrap: break-word">{{name}}</h3>
        </div>
    </div>
    <div id="rpcContentPanel">
        <div class="row" style="margin-top: 5px;">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>类全路径名称</caption>
                    <tbody>
                    <tr>
                        <td>
                            <span style="word-wrap: break-word">{{className}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>方法名称</caption>
                    <tbody>
                    <tr>
                        <td>
                            <span style="word-wrap: break-word">{{methodName}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>
                        返回值类型
                    </caption>
                    <tbody>
                    <tr>
                        <td>
                            <span style="word-wrap: break-word">{{returnType}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>方法参数</caption>
                    <tbody>
                    <tr>
                        <td>
                            <span style="word-wrap: break-word">{{methodParam}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>功能描述</caption>
                    <tbody>
                    <tr>
                        <td>
                            <span style="word-wrap: break-word">{{functionDescribe}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>请求参数</caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>是否必填</th>
                        <th style="width: 20%">JSON格式化传输</th>
                        <th>示例</th>
                        <th>默认值</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamEntities}}
                    {{#interfaceParamEntities}}
                    <tr>
                        <td title="{{paramName}}" style="word-wrap: break-word">
                            {{paramName}}
                        </td>
                        <td title="{{paramType}}" style="word-wrap: break-word">
                            {{paramType}}
                        </td>
                        <td title="{{paramDescribe}}" style="word-wrap: break-word">
                            {{paramDescribe}}
                        </td>
                        <td title="{{required}}" style="word-warp:break-word">
                            {{required}}
                        </td>
                        <td title="{{jsontransformat}}"
                            style="word-wrap: break-word">{{jsontransformat}}
                        </td>
                        <td title="{{example}}" style="word-wrap: break-word">
                            {{example}}
                        </td>
                        <td title="{{defaultValue}}" style="word-wrap: break-word">
                            {{defaultValue}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramType
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramType
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramType
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramType
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramType
                    'json'}} style="display:table-row" {{else}}{{#compareParamType paramType
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="8">
                        <pre>{{exampleDetail}}</pre>
                        <br/>
                        <pre>{{defaultValueDetail}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='8'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption>响应参数</caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>示例</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamResponseEntities}}
                    {{#interfaceParamResponseEntities}}
                    <tr>
                        <td title="{{paramNameResponse}}" style="word-wrap: break-word">
                            {{paramNameResponse}}
                        </td>
                        <td title="{{paramTypeResponse}}" style="word-wrap: break-word">
                            {{paramTypeResponse}}
                        </td>
                        <td title="{{paramDescribeResponse}}" style="word-wrap: break-word">
                            {{paramDescribeResponse}}
                        </td>
                        <td title="{{exampleResponse}}" style="word-wrap: break-word">
                            {{exampleResponse}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramTypeResponse
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeResponse
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeResponse
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramTypeResponse
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramTypeResponse
                    'json'}} style="display:table-row" {{else}} {{#compareParamType paramTypeResponse
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="5">
                        <pre>{{exampleDetailResponse}}</pre>
                        <br/>
                        <pre>{{defaultValueDetailResponse}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamResponseEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='5'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption>返回示例及注意事项</caption>
                    <tbody>
                    <tr>
                        <td style="border-top: none">
                            {{# if interfaceResultEntities}}
                            {{#interfaceResultEntities}}
                            {{#compareExampleType exampleType "NORMAL" }}
                            <pre>{{# if exampleContent}}{{exampleContent}}{{else}}暂无返回示例！{{/if}}</pre>
                            <pre>{{# if attentionMatters}}{{attentionMatters}}{{else}}暂无注意事项！{{/if}}</pre>
                            {{/compareExampleType}}
                            {{/interfaceResultEntities}}
                            {{/if}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="border-top: none">
                    <caption>
                        异常示例及注意事项
                    </caption>
                    <tbody>
                    <tr>
                        <td style="border-top: none">
                            {{# if interfaceResultEntities}}
                            {{#interfaceResultEntities}}
                            {{#compareExampleType exampleType "EXCEPTION" }}
                            <pre>{{# if exampleContent}}{{exampleContent}}{{else}}暂无返回示例！{{/if}}</pre>
                            <pre>{{# if attentionMatters}}{{attentionMatters}}{{else}}暂无注意事项！{{/if}}</pre>
                            {{/compareExampleType}}
                            {{/interfaceResultEntities}}
                            {{/if}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    {{/each}}
    {{else}}
    <h3 class="text-center">暂无 RPC 相关接口列表信息！</h3>
    {{/if}}
</script>
<script type="text/javascript">
    $(function () {
        //加减号事件
        $("#interfaceViewPanel").delegate(".glyphicon-chevron-down", "click", function () {
            $(this).parent().parent().parent().next().hide();
            $(this).removeClass("glyphicon-chevron-down");
            $(this).addClass("glyphicon-chevron-up");
        });

        $("#interfaceViewPanel").delegate(".glyphicon-chevron-up", "click", function () {
            $(this).parent().parent().parent().next().show();
            $(this).removeClass("glyphicon-chevron-up");
            $(this).addClass("glyphicon-chevron-down");
        });
    });
</script>