<div style="height: 55px;">

</div>
<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">接口管理</li>
        <li class="active">$!{appDO.appName}</li>
        <div style="display:inline;float:right"><a href="${ctxPath}/admin/empty.htm"><span
                class="glyphicon glyphicon-home" style="color: rgb(212, 106, 64);"></span></a></div>
    </ol>
</div>
<div class="col-md-10" id="interfaceViewPanel">
</div>
<div class="col-sm-2">
    <div id="treeview12"></div>
</div>
#*HTTP接口描述文档模板*#
<script id="interfaceHttpViewTemplate" type="text/x-handlebars-template">
    {{# if this}}
    {{# each this}}
    <div id="httpNav{{addOne @index}}"></div>
    <div class="row">
        <div id="page_title" class="col-sm-12">
            <h3 class="h3" style="display:inline;word-wrap: break-word">{{name}}</h3>
        </div>
    </div>
    <div id="httpContentPanel">
        <div class="row" style="margin-top: 5px;">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>接口地址</b></caption>
                    <tbody>
                    <tr style="border-left: solid 5px lightseagreen; background-color: lavender">
                        <td style="border: none; height: 36px;">
                            <span style="word-wrap: break-word">{{address}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>接口描述</b></caption>
                    <tbody>
                    <tr style="border-left: solid 5px lightseagreen; background-color: lavender">
                        <td style="border: none;height: 36px;">
                            <span style="word-wrap: break-word">{{description}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>数据格式</b></caption>
                    <tbody>
                    <tr style="border-left: solid 5px lightseagreen; background-color: lavender">
                        <td style="border: none; height: 36px;">
                            <span>{{transformat}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>请求方式</b></caption>
                    <tbody>
                    <tr style="border-left: solid 5px lightseagreen; background-color: lavender">
                        <td style="border: none; height: 36px;">
                            <span>{{protocol}} + {{method}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed;">
                    <caption><b>在线访问地址</b></caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th width="20%">应用环境</th>
                        <th>URL地址</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td width="20%" class="text-right">mock服务调试地址</td>
                        <td width="80%" style="word-wrap: break-word">{{mockAddress}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right">开发环境访问地址</td>
                        <td width="80%" style="word-wrap: break-word">{{devAddress}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right">测试环境访问地址</td>
                        <td width="80%" style="word-wrap: break-word">{{sitAddress}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right">UAT环境访问地址</td>
                        <td width="80%" style="word-wrap: break-word">{{uatAddress}}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="text-right">线上环境访问地址</td>
                        <td width="80%" style="word-wrap: break-word">{{prdAddress}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption><b>请求头部</b></caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>示例</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamHeaderEntities}}
                    {{#interfaceParamHeaderEntities}}
                    <tr>
                        <td title="{{paramNameHeader}}" style="word-wrap: break-word">
                            {{paramNameHeader}}
                        </td>
                        <td title="{{paramTypeHeader}}" style="word-wrap: break-word">
                            {{paramTypeHeader}}
                        </td>
                        <td title="{{paramDescribeHeader}}" style="word-wrap: break-word">
                            {{paramDescribeHeader}}
                        </td>
                        <td title="{{exampleHeader}}" style="word-wrap: break-word">
                            {{exampleHeader}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramTypeHeader
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeHeader
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeHeader
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramTypeResponse
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramTypeHeader
                    'json'}} style="display:table-row" {{else}} {{#compareParamType paramTypeHeader
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="5">
                        <pre class="layui-code">{{exampleDetailHeader}}</pre>
                        <br/>
                        <pre class="layui-code">{{defaultValueDetailHeader}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamHeaderEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='5'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption><b>请求参数</b></caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>是否必填</th>
                        <th style="width: 20%">JSON格式化传输</th>
                        <th>示例</th>
                        <th>默认值</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamEntities}}
                    {{#interfaceParamEntities}}
                    <tr>
                        <td title="{{paramName}}" style="word-wrap: break-word">
                            {{paramName}}
                        </td>
                        <td title="{{paramType}}" style="word-wrap: break-word">
                            {{paramType}}
                        </td>
                        <td title="{{paramDescribe}}" style="word-wrap: break-word">
                            {{paramDescribe}}
                        </td>
                        <td title="{{required}}" style="word-wrap: break-word">
                            {{required}}
                        </td>
                        <td title="{{jsontransformat}}"
                            style="word-wrap: break-word">{{jsontransformat}}
                        </td>
                        <td title="{{example}}" style="word-wrap: break-word">
                            {{example}}
                        </td>
                        <td title="{{defaultValue}}" style="word-wrap: break-word">
                            {{defaultValue}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramType
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramType
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramType
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramType
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramType
                    'json'}} style="display:table-row" {{else}} {{#compareParamType paramType
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="8">
                        <pre class="layui-code">{{exampleDetail}}</pre>
                        <br/>
                        <pre class="layui-code">{{defaultValueDetail}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='8'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption><b>响应参数</b></caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>示例</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamResponseEntities}}
                    {{#interfaceParamResponseEntities}}
                    <tr>
                        <td title="{{paramNameResponse}}" style="word-wrap: break-word">
                            {{paramNameResponse}}
                        </td>
                        <td title="{{paramTypeResponse}}" style="word-wrap: break-word">
                            {{paramTypeResponse}}
                        </td>
                        <td title="{{paramDescribeResponse}}" style="word-wrap: break-word">
                            {{paramDescribeResponse}}
                        </td>
                        <td title="{{exampleResponse}}" style="word-wrap: break-word">
                            {{exampleResponse}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramTypeResponse
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeResponse
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeResponse
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramTypeResponse
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramTypeResponse
                    'json'}} style="display:table-row" {{else}} {{#compareParamType paramTypeResponse
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="5">
                        <pre class="layui-code">{{exampleDetailResponse}}</pre>
                        <br/>
                        <pre class="layui-code">{{defaultValueDetailResponse}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamResponseEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='5'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>返回示例及注意事项</b></caption>
                    <tbody>
                    <tr>
                        <td style="border-top: none;">
                            {{# if interfaceResultEntities}}
                            {{#interfaceResultEntities}}
                            {{#compareExampleType exampleType "NORMAL" }}
                            <pre class="layui-code">{{# if exampleContent}}{{exampleContent}}{{else}}暂无返回示例！{{/if}}</pre>
                            <pre class="layui-code">{{# if attentionMatters}}{{attentionMatters}}{{else}}暂无注意事项！{{/if}}</pre>
                            {{/compareExampleType}}
                            {{/interfaceResultEntities}}
                            {{/if}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>异常示例及注意事项</b></caption>
                    <tbody>
                    <tr>
                        <td style="border-top: none">
                            {{# if interfaceResultEntities}}
                            {{#interfaceResultEntities}}
                            {{#compareExampleType exampleType "EXCEPTION" }}
                            <pre class="layui-code">{{# if exampleContent}}{{exampleContent}}{{else}}暂无返回示例！{{/if}}</pre>
                            <pre class="layui-code">{{# if attentionMatters}}{{attentionMatters}}{{else}}暂无注意事项！{{/if}}</pre>
                            {{/compareExampleType}}
                            {{/interfaceResultEntities}}
                            {{/if}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    {{/each}}
    {{else}}
    <h3 class="text-center">暂无HTTP相关接口列表信息！</h3>
    {{/if}}
</script>
#*RPC接口描述文档模板*#
<script id="interfaceRpcViewTemplate" type="text/x-handlebars-template">
    {{# if this}}
    {{# each this}}
    <div id="rpcNav{{addOne @index}}"></div>
    <div class="row">
        <div id="page_title" class="col-sm-12">
            <h3 class="h3" style="display:inline;word-wrap: break-word">{{name}}</h3>
        </div>
    </div>
    <div id="rpcContentPanel">
        <div class="row" style="margin-top: 5px;">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>类全路径名称</b></caption>
                    <tbody>
                    <tr style="border-left: solid 5px lightseagreen; background-color: lavender">
                        <td style="border: none;height: 36px;">
                            <span style="word-wrap: break-word">{{className}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>方法名称</b></caption>
                    <tbody>
                    <tr style="border-left: solid 5px lightseagreen; background-color: lavender">
                        <td style="border: none;height: 36px;">
                            <span style="word-wrap: break-word">{{methodName}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption>
                        <b>返回值类型</b>
                    </caption>
                    <tbody>
                    <tr style="border-left: solid 5px lightseagreen; background-color: lavender">
                        <td style="border: none;height: 36px;">
                            <span style="word-wrap: break-word">{{returnType}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>方法参数</b></caption>
                    <tbody>
                    <tr style="border-left: solid 5px lightseagreen; background-color: lavender">
                        <td style="border: none;height: 36px;">
                            <span style="word-wrap: break-word">{{methodParam}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 3px;">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>功能描述</b></caption>
                    <tbody>
                    <tr style="border-left: solid 5px lightseagreen; background-color: lavender">
                        <td style="border: none;height: 36px;">
                            <span style="word-wrap: break-word">{{functionDescribe}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption><b>请求参数</b></caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>是否必填</th>
                        <th style="width: 20%">JSON格式化传输</th>
                        <th>示例</th>
                        <th>默认值</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamEntities}}
                    {{#interfaceParamEntities}}
                    <tr>
                        <td title="{{paramName}}" style="word-wrap: break-word">
                            {{paramName}}
                        </td>
                        <td title="{{paramType}}" style="word-wrap: break-word">
                            {{paramType}}
                        </td>
                        <td title="{{paramDescribe}}" style="word-wrap: break-word">
                            {{paramDescribe}}
                        </td>
                        <td title="{{required}}" style="word-warp:break-word">
                            {{required}}
                        </td>
                        <td title="{{jsontransformat}}"
                            style="word-wrap: break-word">{{jsontransformat}}
                        </td>
                        <td title="{{example}}" style="word-wrap: break-word">
                            {{example}}
                        </td>
                        <td title="{{defaultValue}}" style="word-wrap: break-word">
                            {{defaultValue}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramType
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramType
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramType
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramType
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramType
                    'json'}} style="display:table-row" {{else}}{{#compareParamType paramType
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="8">
                        <pre class="layui-code">{{exampleDetail}}</pre>
                        <br/>
                        <pre class="layui-code">{{defaultValueDetail}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='8'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" style="table-layout: fixed">
                    <caption><b>响应参数</b></caption>
                    <thead>
                    <tr style="background-color: rgb(0, 136, 204);color: rgb(255, 255, 255);">
                        <th>名称</th>
                        <th>类型</th>
                        <th>说明</th>
                        <th>示例</th>
                        <th width="6%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# if interfaceParamResponseEntities}}
                    {{#interfaceParamResponseEntities}}
                    <tr>
                        <td title="{{paramNameResponse}}" style="word-wrap: break-word">
                            {{paramNameResponse}}
                        </td>
                        <td title="{{paramTypeResponse}}" style="word-wrap: break-word">
                            {{paramTypeResponse}}
                        </td>
                        <td title="{{paramDescribeResponse}}" style="word-wrap: break-word">
                            {{paramDescribeResponse}}
                        </td>
                        <td title="{{exampleResponse}}" style="word-wrap: break-word">
                            {{exampleResponse}}
                        </td>
                        <td class="text-center">
                            {{#compareParamType paramTypeResponse
                            'object'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeResponse
                            'json'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{#compareParamType paramTypeResponse
                            'array'}} <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a> {{else}} {{/compareParamType}} {{/compareParamType}}
                            {{/compareParamType}}

                        </td>
                    </tr>
                    <tr {{#compareParamType paramTypeResponse
                    'object'}} style="display:table-row" {{else}} {{#compareParamType paramTypeResponse
                    'json'}} style="display:table-row" {{else}} {{#compareParamType paramTypeResponse
                    'array'}} style="display:table-row" {{else}} style="display:none" {{/compareParamType}}
                    {{/compareParamType}}
                    {{/compareParamType}} >
                    <td colspan="5">
                        <pre class="layui-code">{{exampleDetailResponse}}</pre>
                        <br/>
                        <pre class="layui-code">{{defaultValueDetailResponse}}</pre>
                    </td>
                    </tr>
                    {{/interfaceParamResponseEntities}}
                    {{else}}
                    <tr>
                        <td class='text-center' colspan='5'>暂无信息！</td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="table-layout: fixed">
                    <caption><b>返回示例及注意事项</b></caption>
                    <tbody>
                    <tr>
                        <td style="border-top: none">
                            {{# if interfaceResultEntities}}
                            {{#interfaceResultEntities}}
                            {{#compareExampleType exampleType "NORMAL" }}
                            <pre class="layui-code">{{# if exampleContent}}{{exampleContent}}{{else}}暂无返回示例！{{/if}}</pre>
                            <pre class="layui-code">{{# if attentionMatters}}{{attentionMatters}}{{else}}暂无注意事项！{{/if}}</pre>
                            {{/compareExampleType}}
                            {{/interfaceResultEntities}}
                            {{/if}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table" style="border-top: none">
                    <caption>
                        <b>异常示例及注意事项</b>
                    </caption>
                    <tbody>
                    <tr>
                        <td style="border-top: none">
                            {{# if interfaceResultEntities}}
                            {{#interfaceResultEntities}}
                            {{#compareExampleType exampleType "EXCEPTION" }}
                            <pre class="layui-code">{{# if exampleContent}}{{exampleContent}}{{else}}暂无返回示例！{{/if}}</pre>
                            <pre class="layui-code">{{# if attentionMatters}}{{attentionMatters}}{{else}}暂无注意事项！{{/if}}</pre>
                            {{/compareExampleType}}
                            {{/interfaceResultEntities}}
                            {{/if}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    {{/each}}
    {{else}}
    <h3 class="text-center">暂无 RPC 相关接口列表信息！</h3>
    {{/if}}
</script>
<script type="text/javascript">
    $(function () {
        //加减号事件
        $("#interfaceViewPanel").delegate(".glyphicon-chevron-down", "click", function () {
            $(this).parent().parent().parent().next().hide();
            $(this).removeClass("glyphicon-chevron-down");
            $(this).addClass("glyphicon-chevron-up");
        });

        $("#interfaceViewPanel").delegate(".glyphicon-chevron-up", "click", function () {
            $(this).parent().parent().parent().next().show();
            $(this).removeClass("glyphicon-chevron-up");
            $(this).addClass("glyphicon-chevron-down");
        });
    });
</script>
<script>
    //加载HTTP预览
    function loadHttpInterfaceContent(interfaceId) {
        $.post("${ctxPath}/rest/interfaceHttp/findInterfaceHttp", {"interfaceId": interfaceId}, function (data) {
            var httpArray = new Array();
            httpArray.push(data);
            $("#interfaceViewPanel").handlebars($("#interfaceHttpViewTemplate"), httpArray);
            layui.use('code', function(){

                layui.code(); //实际使用时，执行该方法即可。而此处注释是因为修饰器在别的js中已经执行过了
            });
        }, "json");

    }

    //加载RPC预览
    function loadRpcInterfaceContent(interfaceId) {
        $.post("${ctxPath}/rest/interfaceRpc/findInterfaceRpc", {"interfaceId": interfaceId}, function (data) {
            var httpArray = new Array();
            httpArray.push(data);
            $("#interfaceViewPanel").handlebars($("#interfaceRpcViewTemplate"), httpArray);
            layui.use('code', function(){

                layui.code(); //实际使用时，执行该方法即可。而此处注释是因为修饰器在别的js中已经执行过了
            });
        }, "json");
    }
    $(function () {
        var $tree =
        $('#treeview12').treeview({
            expandIcon: 'glyphicon glyphicon-chevron-right',
            collapseIcon: 'glyphicon glyphicon-chevron-down',
            enableLinks: true,
            onNodeSelected: function (event, node) {
                console.log('<p>' + JSON.stringify(node) + ' was selected</p>');
            },
            data: '$!{nodes}'
        });
        try {
            $('#treeview12').treeview('selectNode', [1, {silent: false}]);
            $(".node-selected").find("a")[0].click();
            $('#treeview12').treeview('selectNode', [1, {silent: false}]);
        } catch (err) {

        }

        //增加返回顶部按钮
        $.goup({
            trigger: 100,
            bottomOffset: 150,
            locationOffset: 100,
            title: "回到顶部",
            titleAsText: true,
            containerColor: "#08c",
        });

        layui.use('code', function(){

            layui.code(); //实际使用时，执行该方法即可。而此处注释是因为修饰器在别的js中已经执行过了
        });
    });
</script>

