<!DOCTYPE html>
<html style="height:100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>${html_title}</title>
    <link rel="Shortcut Icon" href="${ctxPath}/webFrame/bootstrap-3.3.5/bootstrap/images/logo.ico">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="${ctxPath}/webFrame/bootstrap-3.3.5/bootstrap/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="${ctxPath}/webFrame/bootstrap-3.3.5/bootstrap/css/bootstrap-theme.min.css">

#*分页插件jqgrid*#
    <link rel="stylesheet" href="${ctxPath}/webFrame/jqgrid-5.2.0/jqgrid/css/ui.jqgrid-bootstrap.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="${ctxPath}/webFrame/bootstrap-3.3.5/jquery-1.11.3.min.js"></script>

#*分页插件jqgrid*#
    <script src="${ctxPath}/webFrame/jqgrid-5.2.0/jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script src="${ctxPath}/webFrame/jqgrid-5.2.0/jqgrid/js/jquery.jqGrid.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="${ctxPath}/webFrame/bootstrap-3.3.5/bootstrap/js/bootstrap.min.js"></script>

    <script src="${ctxPath}/webFrame/underscore-min.js"></script>

    <script src="${ctxPath}/webFrame/echarts.min.js"></script>

    <script src="${ctxPath}/webFrame/handlebars-v4.0.10.js"></script>

    <script src="${ctxPath}/webFrame/handlebars-jquery-plugin.js"></script>

</head>
<body style="height: 100%">
<!-- 头部 -->
<header id="header" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse header-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);"> 登录者：$!{uId}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="button button-little bg-red" href="${ctxPath}/admin/login.htm">
                        <span class="icon-power-off"></span>
                        退出登录
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div>
    <div style="float: left;width:15%;border-right: 1px solid darkgray; height: 100%;
 box-sizing: border-box;overflow: auto;position: fixed" class="text-center">
        <div style="height: 55px;">

        </div>
        <div id="nav-bar-left-list" style="" class="panel-group" role="tablist"
             aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a href="${ctxPath}/admin/empty.htm">${html_title}</a>
                    </h4>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="nav-bar-56" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a href="#nav-bar-list-56" data-parent="#nav-bar-left-list" data-toggle="collapse"
                           aria-expanded="true" aria-controls="nav-bar-list-56"
                           aria-controls="collapseOne">接口管理</a>
                    </h4>
                </div>
                <div id="nav-bar-list-56"
                     class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="nav-bar-56" aria-expanded="false">
                    <div class="list-group">
                        #foreach($app in $!appDOList)
                            <a href="${ctxPath}/admin/main.htm?appId=${app.appId}" class="list-group-item"
                                #if($menu=="Main" && ${app.mainSelectType})
                               style="color: blue;"
                                #end
                               data-appid="${app.appId}">${app.appName}</a>
                        #end
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="nav-bar-78" class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a href="#nav-bar-list-78" data-parent="#nav-bar-left-list" data-toggle="collapse"
                           aria-expanded="true" aria-controls="nav-bar-list-78"
                           aria-controls="collapseOne">接口预览</a>
                    </h4>
                </div>
                <div id="nav-bar-list-78"
                     class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="nav-bar-78" aria-expanded="false">
                    <div class="list-group">
                        #foreach($app in $!appDOList)
                            <a href="${ctxPath}/admin/view.htm?appId=${app.appId}" class="list-group-item"
                                #if($menu=="View" && ${app.viewSelectType})
                               style="color: blue;"
                                #end
                               data-appid="${app.appId}">${app.appName}</a>
                        #end
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>

        </div>
    </div>
    <div style="float: right;width:85%;height: 100%">
        #parse("$screen_placeholder")
    </div>
    <div style="height:50px;clear:both">

    </div>
</div>

<br/>
<br/>
<br/>
<!-- 尾部 -->
<footer class="footer navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-collapse collapse header-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);"><img src="${ctxPath}/webFrame/timg.jpg" width="50px" height="30px"/>&nbsp;&nbsp;317护</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="button button-little bg-red" href="javascript:void(0);">
                        <span class="icon-power-off"></span>
                        ${insist_api_crop}<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        ${insist_api_department}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>