<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>API接口描述文档</title>
    <link rel="Shortcut Icon" href="${ctxPath}/webFrame/bootstrap-3.3.5/bootstrap/images/logo.ico">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="${ctxPath}/webFrame/bootstrap-3.3.5/bootstrap/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="${ctxPath}/webFrame/bootstrap-3.3.5/bootstrap/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="${ctxPath}/webFrame/bootstrap-treeview/src/css/bootstrap-treeview.css">

    <link rel="stylesheet" href="${ctxPath}/webFrame/layui/css/layui.css"/>
    <link rel="stylesheet" href="${ctxPath}/webFrame/layui/css/global.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="${ctxPath}/webFrame/bootstrap-3.3.5/jquery-1.11.3.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="${ctxPath}/webFrame/bootstrap-3.3.5/bootstrap/js/bootstrap.min.js"></script>

    <script src="${ctxPath}/webFrame/underscore-min.js"></script>

    <script src="${ctxPath}/webFrame/echarts.min.js"></script>

    <script src="${ctxPath}/webFrame/handlebars-v4.0.10.js"></script>

    <script src="${ctxPath}/webFrame/handlebars-jquery-plugin.js"></script>

    <script src="${ctxPath}/webFrame/bootstrap-treeview/src/js/bootstrap-treeview.js"></script>

    <script src="${ctxPath}/webFrame/jquery.goup.js"></script>

    <script src="${ctxPath}/webFrame/layui/layui.js"></script>

    <style>
        html, body {
            height: 100%;
            margin: 0px auto;
        }

        .doc-left {
            /*width: 240px;*/
            position: relative;
            padding-top: 10px;
            min-height: 100%;
            border-right-color: rgb(221, 221, 221);
            border-right-width: 1px;
            border-right-style: solid;
            overflow-y: auto;
            display: block;
            background: rgb(245, 245, 245);
        }

        #page_title {
            text-align: left;
            border-bottom: 1px solid #d9d9d9;
            padding-top: 30px;
            padding-bottom: 20px
        }
    </style>
    <script>
        //加载HTTP预览
        function loadHttpInterfaceContent(interfaceId) {
            $.post("${ctxPath}/rest/interfaceHttp/findInterfaceHttp", {"interfaceId": interfaceId}, function (data) {
                var httpArray = new Array();
                httpArray.push(data);
                $("#interfaceViewPanel").handlebars($("#interfaceHttpViewTemplate"), httpArray);
            }, "json");

        }

        //加载RPC预览
        function loadRpcInterfaceContent(interfaceId) {
            $.post("${ctxPath}/rest/interfaceRpc/findInterfaceRpc", {"interfaceId": interfaceId}, function (data) {
                var httpArray = new Array();
                httpArray.push(data);
                $("#interfaceViewPanel").handlebars($("#interfaceRpcViewTemplate"), httpArray);
            }, "json");
        }
        $(function () {
            var $tree =
            $('#treeview12').treeview({
                expandIcon: 'glyphicon glyphicon-chevron-right',
                collapseIcon: 'glyphicon glyphicon-chevron-down',
                enableLinks: true,
                onNodeSelected: function (event, node) {
                    console.log('<p>' + JSON.stringify(node) + ' was selected</p>');
                },
                data: '$!{nodes}'
            });

            try {
                $('#treeview12').treeview('selectNode', [1, {silent: false}]);
                $(".node-selected").find("a")[0].click();
                $('#treeview12').treeview('selectNode', [1, {silent: false}]);
            } catch (err) {

            }


            //增加返回顶部按钮
            $.goup({
                trigger: 100,
                bottomOffset: 150,
                locationOffset: 100,
                title: "回到顶部",
                titleAsText: true,
                containerColor: "#08c",
            });

            //JavaScript代码区域
            layui.use('element', function(){
                var element = layui.element;
//                layui.code({
//                    title: 'NotePad++的风格'
//                    ,skin: 'notepad' //如果要默认风格，不用设定该key。
//                });
            });
        });
    </script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="position: fixed;width: 100%;color: #009688;">
        <div style="padding-left: 30px;padding-top: 10px;"><h2 class="h4" style="font-size: 30px;">$!{appDO.appName}
            -API接口说明文档</h2></div>
    </div>
    <div class="layui-side" style="width:300px;">
        <div class="layui-side-scroll" style="width: 300px; height: 100%;overflow-y: auto;">
            <div id="treeview12"></div>
        </div>
    </div>
    <div class="layui-body" style="left: 0px; padding-left: 300px; position: relative; height: 100%;z-index: 1">
        <!-- 内容主体区域 -->
        #parse("$screen_placeholder")
    </div>
</div>
</body>
</html>